.layout-wrap{
    height:100vh;
    .layout-header{
        height:75px;
        z-index: 2;
        background-color:#fff;
        @include webkit(box-shadow,0 3px 16px 0 rgba(0,0,0,-1));
        // -webkit-box-shadow:0 3px 16px 0 rgba(0,0,0,-1);
    }
    .layout-main{
        border-top:30px solid #f7f7f7;
        border-left:30px solid #f7f7f7;
        border-right:30px solid #f7f7f7;
        background-color:#fff;
        padding:30px;
    }
    .logo-img{
        height:75px;
        width:200px;
        background-color:#001529;
        margin-left:-50px;
        float: left;
        color:#fff;
        -webkit-transition:all 0.2s ease 0s;
        -moz-transition:all 0.2s ease 0s;
        -ms-transition:all 0.2s ease 0s;
        -o-transition:all 0.2s ease 0s;
        transition:all 0.2s ease 0s;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;

        span{
            width:150px;
            height:50px;
            display: inline-block;
            background-color:#999;
            text-align: center;
        }
    }
    .header-wrap{
        -webkit-transition:all 0.2s ease 0s;
        -moz-transition:all 0.2s ease 0s;
        -ms-transition:all 0.2s ease 0s;
        -o-transition:all 0.2s ease 0s;
        transition:all 0.2s ease 0s;
        margin-left:170px;
        .collapsed-icon{
            font-size: 23px;
            cursor: pointer;
        }
    }
    .collapsed-close{
        .logo-img{
            width:80px;
            span{
                width:100%;
            }
        }
        .header-wrap{
            margin-left:65px;
        }
    }

}